<!DOCTYPE html>
<html>

<head>
  <title>Tic Tac Toe</title>
  <!-- <link rel="stylesheet" type="text/css" href="/css/normalize.css">
  <link rel="stylesheet" type="text/css" href="/css/grid.css">
  <link rel="stylesheet" type="text/css" href="/css/stylesheet.css"> -->
</head>

<body>
<h1>Welcome to Tic Tac Toe</h1>

  <%= erb :_grid %>

  <%= yield %>

</body>
